<section class="content">
    <div class="row">
        <div class="col-md-6 offset-md-3" id="Panel">
            <h1>Historique du circuit de validation du document</h1>
            
            <br />
            <br />

            <div id="p_MyDocument" data-type="panel" data-stat="all">
                <div class="card card-primary card-outline mb-5">
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table table-hover table-striped" id="table_boards">
                                <tr id="column_table">
                                    <th>Utilisateur</th>
                                    <th>Date d'exécution</th>
                                    <th>Commentaire</th>
                                </tr>

                            </table><br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/js/documents/validationHistory/index.js" asp-append-version="true" type="module"></script>
