<form>
    <div class="form-group">
        <label for="document-link">Lien du document: </label>

        <input type="text" id="document-link" />
    </div>

    <div class="form-group">
        <label for="signature-id">ID du signature: </label>

        <input type="text" id="signature-id" />
    </div>

    <button>Vérifier</button>
</form>

<div id="result"></div>

<script type="module" src="~/js/documents/authenticate_signatures.js"></script>
