<link rel="stylesheet" href="~/css/documents.manager.css" />

<div class="form-group">
    <select name="documents-status" id="documents-status">
        <option value="1" selected>En retard</option>
        <option value="2">Dans les temps</option>
    </select>
</div>

<ul id="documents-list"></ul>

<script type="module" src="~/js/documents/dashboard/index.js"></script>
