@{
    ViewData["Controller"] = "Paramétrage des fournisseurs";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .select2-container .select2-selection--single {
        height: 40px;
    }
</style>

<script src="~/lib/clipboard.min.js"></script>

<div class="card">
    <div class="card-header"><br />
        <div class="row">
            <div class="col-lg-4 col-6" style="cursor: pointer;" data-action="show-new-receivers-modal">
                <div class="small-box bg-gradient-success" style="height: 100px;">
                    <div class="inner" style="font-weight: 800;">
                        <p>Ajouter un receveur de documents</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-plus"></i>
                    </div>
                </div>
            </div>

            @* <div class="col-lg-4 col-6" style="cursor: pointer; ">
                <div class="small-box bg-gradient-primary">
                    <div class="inner">
                        <h3 id="curr_user"></h3>
                        <p>Nombre de receveurs total</p>
                    </div>
                    
                    <div class="icon">
                        <i class="fas fa-user"></i>
                    </div>
                </div>
            </div> *@

            <div class="col-lg-8 col-6">
                <button id="copy-suppliers-link" class="btn btn-info bg-gradient mb-3 col-6">
                    <i class="fa fa-link p-2"></i>Obtenir le lien d'accès des fournisseurs
                </button>
            </div>
        </div>

        <br /><br />

        <h3 class="card-title">Liste des receveurs de documents</h3>

        <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
                <input type="text" id="wsearch" class="form-control float-right" placeholder="Search">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
            <thead>
                <tr>
                    <th>Nom d'utilisateur</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>

            <tbody id="receivers"></tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="receivers-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="card-primary">
                <div class="card-header">
                    <h3 class="card-title" id="modal-title"></h3>

                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="card-body">
                    <div class="form-group">
                        <label for="users">Utilisateurs: </label>
                        <select id="users" name="users[]" multiple="multiple" style="width: 200px;"></select>
                    </div>
                </div>

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary" data-action="post-receivers">Envoyer</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/widgets.js" asp-append-version="true"></script>
<script type="module" src="~/js/dashboard/settings/suppliersDocumentsReceivers.js" asp-append-version="true"></script>
