@{
    Layout = null;
}

<link rel="stylesheet" href="~/js/elfinder/jquery-ui.min.css" />

<!-- elfinder css -->
<link rel="stylesheet" href="~/css/css/commands.css" type="text/css">
<link rel="stylesheet" href="~/css/css/common.css" type="text/css">
<link rel="stylesheet" href="~/css/css/contextmenu.css" type="text/css">
<link rel="stylesheet" href="~/css/css/cwd.css" type="text/css">
<link rel="stylesheet" href="~/css/css/dialog.css" type="text/css">
<link rel="stylesheet" href="~/css/css/fonts.css" type="text/css">
<link rel="stylesheet" href="~/css/css/navbar.css" type="text/css">
<link rel="stylesheet" href="~/css/css/places.css" type="text/css">
<link rel="stylesheet" href="~/css/css/quicklook.css" type="text/css">
<link rel="stylesheet" href="~/css/css/statusbar.css" type="text/css">
<link rel="stylesheet" href="~/css/css/theme.css" type="text/css">
<link rel="stylesheet" href="~/css/css/toast.css" type="text/css">
<link rel="stylesheet" href="~/css/css/toolbar.css" type="text/css">

<!-- Section JavaScript -->
<!-- jQuery and jQuery UI (REQUIRED) -->
<script src="~/js/elfinder/jquery-3.7.1.min.js"></script>
<script src="~/js/elfinder/jquery-ui.min.js"></script>

<script src="~/js/elfinder/elFinder.js"></script>
<script src="~/js/elfinder/elFinder.version.js"></script>
<script src="~/js/elfinder/jquery.elfinder.js"></script>
<script src="~/js/elfinder/elFinder.mimetypes.js"></script>
<script src="~/js/elfinder/elFinder.options.js"></script>
<script src="~/js/elfinder/elFinder.options.netmount.js"></script>
<script src="~/js/elfinder/elFinder.history.js"></script>
<script src="~/js/elfinder/elFinder.command.js"></script>
<script src="~/js/elfinder/elFinder.resources.js"></script>

<!-- elfinder dialog -->
<script src="~/js/elfinder/jquery.dialogelfinder.js"></script>

<!-- elfinder default lang -->
<script src="~/js/elfinder/i18n/elfinder.en.js"></script>

<!-- elfinder ui -->
<script src="~/js/elfinder/ui/button.js"></script>
<script src="~/js/elfinder/ui/contextmenu.js"></script>
<script src="~/js/elfinder/ui/cwd.js"></script>
<script src="~/js/elfinder/ui/dialog.js"></script>
<script src="~/js/elfinder/ui/fullscreenbutton.js"></script>
<script src="~/js/elfinder/ui/navbar.js"></script>
<script src="~/js/elfinder/ui/navdock.js"></script>
<script src="~/js/elfinder/ui/overlay.js"></script>
<script src="~/js/elfinder/ui/panel.js"></script>
<script src="~/js/elfinder/ui/path.js"></script>
<script src="~/js/elfinder/ui/places.js"></script>
<script src="~/js/elfinder/ui/searchbutton.js"></script>
<script src="~/js/elfinder/ui/sortbutton.js"></script>
<script src="~/js/elfinder/ui/stat.js"></script>
<script src="~/js/elfinder/ui/toast.js"></script>
<script src="~/js/elfinder/ui/toolbar.js"></script>
<script src="~/js/elfinder/ui/tree.js"></script>
<script src="~/js/elfinder/ui/uploadButton.js"></script>
<script src="~/js/elfinder/ui/viewbutton.js"></script>
<script src="~/js/elfinder/ui/workzone.js"></script>

<!-- elfinder commands -->
<script src="~/js/elfinder/commands/archive.js"></script>
<script src="~/js/elfinder/commands/back.js"></script>
<script src="~/js/elfinder/commands/chmod.js"></script>
<script src="~/js/elfinder/commands/colwidth.js"></script>
<script src="~/js/elfinder/commands/copy.js"></script>
<script src="~/js/elfinder/commands/cut.js"></script>
<script src="~/js/elfinder/commands/download.js"></script>
<script src="~/js/elfinder/commands/duplicate.js"></script>
<script src="~/js/elfinder/commands/edit.js"></script>
<script src="~/js/elfinder/commands/empty.js"></script>
<script src="~/js/elfinder/commands/extract.js"></script>
<script src="~/js/elfinder/commands/forward.js"></script>
<script src="~/js/elfinder/commands/fullscreen.js"></script>
<script src="~/js/elfinder/commands/getfile.js"></script>
<script src="~/js/elfinder/commands/help.js"></script>
<script src="~/js/elfinder/commands/hidden.js"></script>
<script src="~/js/elfinder/commands/hide.js"></script>
<script src="~/js/elfinder/commands/home.js"></script>
<script src="~/js/elfinder/commands/info.js"></script>
<script src="~/js/elfinder/commands/mkdir.js"></script>
<script src="~/js/elfinder/commands/mkfile.js"></script>
<script src="~/js/elfinder/commands/netmount.js"></script>
<script src="~/js/elfinder/commands/open.js"></script>
<script src="~/js/elfinder/commands/opendir.js"></script>
<script src="~/js/elfinder/commands/opennew.js"></script>
<script src="~/js/elfinder/commands/paste.js"></script>
<script src="~/js/elfinder/commands/places.js"></script>
<script src="~/js/elfinder/commands/preference.js"></script>
<script src="~/js/elfinder/commands/quicklook.js"></script>
<script src="~/js/elfinder/commands/quicklook.plugins.js"></script>
<script src="~/js/elfinder/commands/reload.js"></script>
<script src="~/js/elfinder/commands/rename.js"></script>
<script src="~/js/elfinder/commands/resize.js"></script>
<script src="~/js/elfinder/commands/restore.js"></script>
<script src="~/js/elfinder/commands/rm.js"></script>
<script src="~/js/elfinder/commands/search.js"></script>
<script src="~/js/elfinder/commands/selectall.js"></script>
<script src="~/js/elfinder/commands/selectinvert.js"></script>
<script src="~/js/elfinder/commands/selectnone.js"></script>
<script src="~/js/elfinder/commands/sort.js"></script>
<script src="~/js/elfinder/commands/undo.js"></script>
<script src="~/js/elfinder/commands/up.js"></script>
<script src="~/js/elfinder/commands/upload.js"></script>
<script src="~/js/elfinder/commands/view.js"></script>

<!-- elfinder 1.x connector API support (OPTIONAL) -->
<script src="~/js/elfinder/proxy/elFinderSupportVer1.js"></script>

<!-- Extra contents editors (OPTIONAL) -->
<script src="~/js/elfinder/extras/editors.default.js"></script>

<!-- GoogleDocs Quicklook plugin for GoogleDrive Volume (OPTIONAL) -->
<script src="~/js/elfinder/extras/quicklook.googledocs.js"></script>

<script src="~/lib/axios.min.js"></script>

<div id="elfinder"></div>
<a asp-controller="client" asp-action="usermanagement" class="btn btn-primary">Retour espace client</a>

<script type="module" src="~/js/numericLibrary/index.js"></script>
